<table class='table striped highlight responsive-table'>
  <thead>
    <th>Name</th>
    <th>Base Price</th> 
    <th>Description</th> 
    <th>Show</th>
  </thead>
  <tbody id='products'> 
  </tbody> 
</table>