<h1>Add Product</h1>
<form id='new_product'>
  <input placeholder='Name' name='product[name]' required='true' />
  <input placeholder='Description' name='product[description]' required='true' />
  <input placeholder='Price' name='product[base_price]' required='true' type='number' />
  <button class='btn' type='submit'>Save</button>
</form>